<html>
<head>
<title>{{ title }}</title>
<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
{{ content }}
<p>Posted on: {{ timestamp }} in <a href="/blog/{{ category }}">{{ category }}</a> by {{ authors[0] }}!</p>
</body>
</html>
