<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ title }}</title>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta charset="UTF-8" />
<link href="../universal/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
/*
Overrides ../universal/style.css
*/
{% block css_overrides %}
{% endblock %}
</style>
{% block head %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
<div class="speech-box">
  <div class="speech-box-text">
    {% block speech_box %}
    {% endblock %}
  </div>
  <nav id="options">
    <ul>
      {% for href, text in options %}
        <li><a href="../{{ href }}/index.html">{{ text }}</a>
      {% endfor %}
    </ul>
  </nav>
</div>
</body>
</html>
