@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Playfair+Display+SC');

html,
body {
  padding: 1.5rem 10px;
  word-spacing: 0.25rem;
  font-family: 'Old Standard TT', serif;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 100vw;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  word-spacing: -0.125rem;
  font-size: 3rem;
  line-height: 3rem;
  margin: 2.25rem 0 0.75rem 0;
}

p {
  max-width: 75em;
}

p + p {
  margin-top: 1.5rem;
}

li + li {
  margin-top: 1.5rem;
}
