@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Playfair+Display+SC');

html,
body {
  word-spacing: 0.25rem;
  font-family: 'Old Standard TT', serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  min-width: 45em;
  max-width: 75em;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  word-spacing: -0.125rem;
  font-size: 3rem;
  line-height: 3rem;
  margin: 2.25rem 0 0.75rem 0;
  min-width: 45em;
  max-width: 75em;
}
